.vscode
.DS_Store
.vscode/extensions.json
.vscode/settings.json
.idea
frontend/techpick/.env.production
frontend/techpick/.env.development
frontend/techpick-extension/.env.development
frontend/techpick-extension/.env.production
